 <TextField hint="Nombre de la carrera" returnKeyType="next" [(ngModel)]="nombre" [isEnabled]="!isEdit" autocorrect="false" autocapitalizationType="none"></TextField>

  <TextField hint="Cantidad de materias" returnKeyType="next" [(ngModel)]="cantidadMaterias" [isEnabled]="!isEdit" autocorrect="false" keyboardType="number"></TextField>

<Button (tap)="addSubjects(carreraForm.get('cantidadMaterias').value)" text="Agregar materias"></Button>

<ListView [items]="carreraForm.get('subjects').controls">
	<ng-template let-item="subject" let-i="index">
		<TextField hint="Nombre de la materia" value="{{ subject.value }}" autocapitalizationType="none" formControlName="{{ i }}"></TextField>
		<Button (tap)="deleteSubject(i)" text="Borrar"></Button>
	</ng-template>
</ListView>


<Button
[text]="+1"
[isEnabled]="!submitting"
class="btn"
(tap)="addSubjects(1)"></Button>

<Button
[text]="submitBtnText"
[isEnabled]="!submitting"
class="btn btn-primary"
(tap)="add(carreraForm)"></Button>
