<TextField hint="Nombre de la mesa" returnKeyType="next" id="name" name="name"
required minlength="4"
[(ngModel)]="newMesa.nombre" #name="ngModel" ></TextField>


  <Label *ngIf="name.invalid && (name.dirty || name.touched)"
    class="alert alert-danger">
	  <Label *ngIf="name.errors.required" text="Debe ingresar un nombre a la mesa."></Label>
	  <Label *ngIf="name.errors.minlength" text="El nombre debe tener al menos cuatro caracteres."></Label>
	</Label>

<DatePicker id="desde" name="desde"
            verticalAlignment="center"
            [(ngModel)]="newMesa.fechaDesde" #desde="ngModel" required>
</DatePicker>

<DatePicker id="hasta" name="hasta"
            [minDate]="newMesa.fechaDesde"
            (loaded)="onDatePickerLoaded($event)"
            verticalAlignment="center"
            [(ngModel)]="newMesa.fechaHasta" #hasta="ngModel" required>
</DatePicker>

<Button
class="btn btn-primary"
(tap)="send()"
[Text]="submitBtnText"></Button>
<!-- [attr.disabled]="mesaForm.invalid || submitting ? true : null" -->