<Page xmlns="http://schemas.nativescript.org/tns.xsd">
<Label *ngIf="isSignedUp; else signupForm"
  text="Registrado correctamente. Por favor ingrese!"
  [nsRouterLink]="['/login']">
</Label>
 
<StackLayout #mainContainer *ngIf="!isLoggedIn">
      
  <TextField
        hint="Username"
        returnKeyType="next"
        (returnPress)="focusPassword()"
		[(ngModel)]="user"
        [isEnabled]="!isRegistering"
        autocorrect="false"
        autocapitalizationType="none"
        row="0"></TextField>


<!--  <Label *ngIf="f.submitted && username.invalid && username.errors.required">Debe ingresar un nombre de usuario</Label>
 -->

    <TextField #passwrd
    hint="Password"
    secure="true"
    returnKeyType="done"
    (returnPress)="submit()"
    [isEnabled]="!isRegistering"
    [(ngModel)]="pass";
    required minlength="6" 
    row="1"></TextField>

<!--
  <StackLayout *ngIf="f.submitted && password.invalid">
    <Label *ngIf="password.errors.required" text="Debe ingresar una contraseña"></Label>
    <Label *ngIf="password.errors.minlength" text="La contraseña debe tener al menos 6 caracteres"></Label>
  </StackLayout>
-->
     <ActivityIndicator
    [busy]="isRegistering"
    rowSpan="2"></ActivityIndicator>

    <Button
  text="Registrarse"
  [isEnabled]="!isRegistering"
  class="submit-button"
  (tap)="onSubmit()"></Button>


  <!--<Label *ngIf="f.submitted && isSignUpFailed" text="Falla en el registro! {{errorMessage}}"></Label>-->

</StackLayout>
</Page>
