<Label *ngIf="isLoggedIn; else loggedOut"
text="Ya está laoguedo. Ir al inicio"
[nsRouterLink]="['/dashboard']">
</Label>
 
<StackLayout #mainContainer *ngIf="!isLoggedIn">

  <TextField
  hint="Username"
  returnKeyType="next"
  (returnPress)="focusPassword()"
  [(ngModel)]="form.username"
  [isEnabled]="!isAuthenticating"
  autocorrect="false"
  autocapitalizationType="none"
  [class.light]="!isLoggingIn"
  row="0"></TextField>

  <!--<Label *ngIf="f.submitted && username.invalid && username.errors.required"
  text="Debe ingresar un nombre de usuario"></Label> -->


  <TextField #password
  hint="Password"
  secure="true"
  returnKeyType="done"
  (returnPress)="submit()"
  [(ngModel)]="form.password"
  [isEnabled]="!isAuthenticating"
  [class.light]="!isLoggingIn"
  required minlength="6" 
  row="1"></TextField>

<!--  <StackLayout *ngIf="f.submitted && password.invalid">
    <Label *ngIf="password.errors.required" text="Debe ingresar una contraseña"></Label>
    <Label *ngIf="password.errors.minlength" text="La contraseña debe tener al menos 6 caracteres"></Label>
  </StackLayout> -->

   <ActivityIndicator
  [busy]="isAuthenticating"
  rowSpan="2"></ActivityIndicator>

  <Button
  text="Login"
  [isEnabled]="!isAuthenticating"
  class="submit-button"
  (tap)="onSubmit()"></Button>

  <Label
  text="No tienes una cuenta? Registrate"
  [nsRouterLink]="['/register']"
  ></Label>

</StackLayout>
